<p>Gerecht toevoegen:</p>
<form [formGroup]="dishForm">
  <label>
    Omschrijving
    <input type="text" formControlName="decription" required />
  </label>
  <br />
  <label>
    Verkoopprijs
    <input type="text" formControlName="sellingPrice" />
  </label>
  <br />
  <label>
    ingredienten:
    <br />
    Ingredient1
    <input type="text" formControlName="ingredient1" />
    <br />
    Ingredient2
    <input type="text" formControlName="ingredient2" />
    <br />
    Ingredient3
    <input type="text" formControlName="ingredient3" />
    <br />
    Ingredient4
    <input type="text" formControlName="ingredient4" />
    <br />
    Ingredient5
    <input type="text" formControlName="ingredient5" />
    <br />
  </label>
  <br />
  <label>
    Marge
    <input type="text" formControlName="margin" />
  </label>
  <br />
  <label>
    Beschikbaar
    <input type="text" formControlName="available" />
  </label>
</form>
<form [formGroup]="dishForm" (ngSubmit)="onSubmit()"></form>
<button type="submit" [disabled]="!dishForm.valid">Submit</button>
<p>Form Status: {{ dishForm.status }}</p>
